<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
        <div id="status">Status: Connected to Websocket</div>
        <form action="/add" method="post" >
        <label>Device id</label>
        <input type="text" name="device_id">
        <button type="submit">Dodaj</button>
        
        </form>
        <div id="devices">
            <p>Assigned devices</p>
            <div id="assigned"></div>
            <p>Available devices</p>
            <div id="available"></div>
        </div>

        <script>
            
            let username;
            var ws;
            //getting list of assigned devices
            fetch("/assigned_devices", {
                method: 'GET',
                headers: {
                    'Content-type': 'application/json'
                }
            })
            .then(response => response.json())
            .then( data=>{
                destination = document.getElementById("assigned")
                for(i in data){
                    let tekst = data[i]
                    tekst += ' '
                    destination.textContent += tekst
                }
            })
            .catch(err => console.error(err));
            //getting list of not assigned devices
            fetch("/available_devices", {
                method: 'GET',
                headers: {
                    'Content-type': 'application/json'
                }
            })
            .then(response => response.json())
            .then( data=>{
                destination = document.getElementById("available")
                for(i in data){
                    let tekst = data[i]
                    tekst += ' '
                    destination.textContent += tekst
                }
            })
            .catch(err => console.error(err));
            



           fetch('/me', { //getting username from user that has log in
            method: 'GET', 
            
            headers: {
                'Content-Type': 'application/json'
            }
            })
            .then(response => response.json())
            .then(data =>{ 
                username = data // username
                const URL = "ws://localhost:8000/ws/"+username; // URL of websocket
                console.log(URL)
                 ws = new WebSocket(URL); // connecting to websocket
            ws.onmessage = function(event) {    // Function that listens if websocket got message
               let dataJSON = JSON.parse(event.data) // converting string to JSON
                console.log(dataJSON)
                alert("DEVICE MESSAGE: " + dataJSON.data.event); 
            };
            // Function that listens if websocket was close
            ws.onclose = function(event) {
                document.getElementById("status").innerText = "Status: Disconnected";
            };

            })
            .catch(err => console.error(err));
            
            
        </script>

</body>
</html>